/* Import google font poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* import bootstrap icon library */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

body {
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #264653;
}
.site-banner-section {
    padding-top: 100px;
}
.navbar-bg {
    background-color: #264653;
} 
.nav-link {
    color: white !important;
}

.grayscale-image {
    filter: grayscale(100%);
}

/* buttons  */
.btn-purchase {
    color: white;
    background-color: #E76F51;
    padding: 10px 40px;
}

.btn-purchase:hover {
    color: white;
    background-color: #a10f0f;
}

.btn-read-more {
    color: #E76F51;
    border: 2px solid #e76f51;
    padding: 10px 30px;
}

.btn-read-more:hover {
    color: white;
    background-color: #e76f51;
}

.btn-buy-now {
    color: white;
    background-color: #E76F51;
    padding: 10px 40px;
}
.btn-buy-now:hover {
    color: white;
    background-color: #a10f0f;
}

/* Section titles  */
.section-title {
    color: black;
    font-size: 36px;
}

.section-title span {
    color: #E76F51;
}

/* shop section */
.price {
    font-size: 2.2em;
    color: #e76f51;
    font-weight: 600;
}

/* features section */
.feature-image {
    padding-right: 40px;
}
.feature-image img {
    width: 80px;
}

/* FAQ section */